<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>edupay</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HelloController</display-name>
    <servlet-name>HelloController</servlet-name>
    <servlet-class>controller.HelloController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloController</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentController</display-name>
    <servlet-name>StudentController</servlet-name>
    <servlet-class>controller.StudentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentController</servlet-name>
    <url-pattern>/students/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MonthAmountController</display-name>
    <servlet-name>MonthAmountController</servlet-name>
    <servlet-class>controller.MonthAmountController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MonthAmountController</servlet-name>
    <url-pattern>/amounts/*</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>EquipmentAmountController</display-name>
    <servlet-name>EquipmentAmountController</servlet-name>
    <servlet-class>controller.EquipmentAmountController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EquipmentAmountController</servlet-name>
    <url-pattern>/equipment-amounts/*</url-pattern>
  </servlet-mapping>
</web-app>